@using Microsoft.AspNetCore.Http
@model SE1620_Group6_A3.Models.Booking
@inject IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Edit";
    String index1 = HttpContextAccessor.HttpContext.Session.GetString("index");
    decimal Amount = (decimal)HttpContextAccessor.HttpContext.Session.GetInt32("Amount");
    int id = (int)HttpContextAccessor.HttpContext.Session.GetInt32("id");
    int[] choose = @ViewBag.check;
    String name =  HttpContextAccessor.HttpContext.Session.GetString("name");
}

<h1>Edit</h1>

<h4>Booking</h4>
<form id="form" asp-action="Edit">
    @for (var i = 0; i < 10; i++)
    {
        @for (var j = 0; j < 10; j++)
        {
            int test = 0;
            int check = 0;
            int index = i * 10 + j;
            @foreach (var item in ViewBag.list)
            {
                @if (item == index)
                {
                    check = 1;
                }
            }
            @for (var k = 0; k < @choose.Length; k++)
            {
                @if (@choose[k] == index)
                {
                    test = 1;
                }
            }
            @if (check == 1)
            {
                <input type="checkbox" id="0" disabled checked />
            }
            else @if (test == 1)
            {
                <input type="checkbox" value="@index" name="check" checked onclick="submitForm()" />
            }
            else
            {
                <input type="checkbox" value="@index" name="check" onclick="submitForm()" />
            }
        }
        <br />
    }
</form>

<script>
    var form = document.getElementById('form');
    var checkbox = document.getElementsByName('check');

    function submitForm() {
        form.submit();

    }
</script>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-test="1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShowId" value="@id"/>
            <input type="hidden" asp-for="SeatStatus" name="Seat" value="@index1" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" name="name" value="@name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" value="@Amount" disabled class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@id">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
